<a href="https://colab.research.google.com/github/abs711/StocksAnalysis/blob/main/Stocks_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd

In [13]:
path = '/content/drive/MyDrive/kaggle_stock_market_dataset'
apple = pd.read_csv(path+'/AAPL.csv')
microsoft = pd.read_csv(path+'/MSFT.csv')
nvidia = pd.read_csv(path+'/NVDA.csv')
amazon = pd.read_csv(path+'/AMZN.csv')
tsmc = pd.read_csv(path+'/TSM.csv')
nuro= pd.read_csv(path+'/NURO.csv')
tsla= pd.read_csv(path+'/TSLA.csv')

In [14]:
apple.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.406782  117258400
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.385558   43971200
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.357260   26432000
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.366103   21610400
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.376715   18362400

In [15]:
dfs = [apple, microsoft, nvidia, amazon, tsmc, nuro, tsla]

Add moving averages of closing prices to dfs

In [16]:
for df in dfs:
  df['ma50'] = df.Close.rolling(50).mean()
  df['ma100'] = df.Close.rolling(100).mean()

In [20]:
apple.head(50)

,Date,Open,High,Low,Close,Adj Close,Volume,ma50,ma100
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN
5,1980-12-19,0.504464,0.506696,0.504464,0.504464,0.399707,12157600,NaN,NaN
6,1980-12-22,0.529018,0.531250,0.529018,0.529018,0.419162,9340800,NaN,NaN
7,1980-12-23,0.551339,0.553571,0.551339,0.551339,0.436848,11737600,NaN,NaN
8,1980-12-24,0.580357,0.582589,0.580357,0.580357,0.459840,12000800,NaN,NaN
9,1980-12-26,0.633929,0.636161,0.633929,0.633929,0.502287,13893600,NaN,NaN
10,1980-12-29,0.642857,0.645089,0.642857,0.642857,0.509361,23290400,NaN,NaN
11,1980-12-30,0.629464,0.629464,0.627232,0.627232,0.496981,17220000,NaN,NaN
12,1980-12-31,0.611607,0.611607,0.609375,0.609375,0.482832,8937600,NaN,NaN
13,1981-01-02,0.616071,0.620536,0.616071,0.616071,0.488138,5415200,NaN,NaN
14,1981-01-05,0.604911,0.604911,0.602679,0.602679,0.477526,8932000,NaN,NaN
15,1981-01-06,0.578125,0.578125,0.575893,0.575893,0.456303,11289600,NaN,NaN
16,1981-01-07,0.553571,0.553571,0.551339,0.551339,0.436848,13921600,NaN,NaN
17,1981-01-08,0.542411,0.542411,0.540179,0.540179,0.428005,9956800,NaN,NaN
18,1981-01-09,0.569196,0.571429,0.569196,0.569196,0.450997,5376000,NaN,NaN
19,1981-01-12,0.569196,0.569196,0.564732,0.564732,0.447460,5924800,NaN,NaN
20,1981-01-13,0.546875,0.546875,0.544643,0.544643,0.431542,5762400,NaN,NaN
21,1981-01-14,0.546875,0.549107,0.546875,0.546875,0.433311,3572800,NaN,NaN
22,1981-01-15,0.558036,0.562500,0.558036,0.558036,0.442154,3516800,NaN,NaN
23,1981-01-16,0.555804,0.555804,0.553571,0.553571,0.438617,3348800,NaN,NaN
24,1981-01-19,0.587054,0.589286,0.587054,0.587054,0.465146,10393600,NaN,NaN
25,1981-01-20,0.571429,0.571429,0.569196,0.569196,0.450997,7520800,NaN,NaN
26,1981-01-21,0.580357,0.584821,0.580357,0.580357,0.459840,3976000,NaN,NaN
27,1981-01-22,0.587054,0.591518,0.587054,0.587054,0.465146,8887200,NaN,NaN
28,1981-01-23,0.587054,0.589286,0.584821,0.584821,0.463377,2805600,NaN,NaN
29,1981-01-26,0.578125,0.578125,0.575893,0.575893,0.456303,6160000,NaN,NaN
30,1981-01-27,0.575893,0.575893,0.571429,0.571429,0.452766,5924800,NaN,NaN
31,1981-01-28,0.555804,0.555804,0.553571,0.553571,0.438617,7039200,NaN,NaN
32,1981-01-29,0.535714,0.535714,0.533482,0.533482,0.422699,10976000,NaN,NaN
33,1981-01-30,0.508929,0.508929,0.504464,0.504464,0.399707,11547200,NaN,NaN
34,1981-02-02,0.477679,0.477679,0.475446,0.475446,0.376715,5941600,NaN,NaN
35,1981-02-03,0.493304,0.495536,0.493304,0.493304,0.390864,4788000,NaN,NaN
36,1981-02-04,0.511161,0.513393,0.511161,0.511161,0.405013,6966400,NaN,NaN
37,1981-02-05,0.511161,0.515625,0.511161,0.511161,0.405013,1982400,NaN,NaN
38,1981-02-06,0.513393,0.515625,0.513393,0.513393,0.406782,3466400,NaN,NaN
39,1981-02-09,0.491071,0.491071,0.486607,0.486607,0.385558,4188800,NaN,NaN
40,1981-02-10,0.486607,0.488839,0.486607,0.486607,0.385558,4586400,NaN,NaN
41,1981-02-11,0.473214,0.473214,0.470982,0.470982,0.373178,3460800,NaN,NaN
42,1981-02-12,0.468750,0.468750,0.466518,0.466518,0.369641,3640000,NaN,NaN
43,1981-02-13,0.459821,0.459821,0.455357,0.455357,0.360798,2788800,NaN,NaN
44,1981-02-17,0.466518,0.468750,0.466518,0.466518,0.369641,3068800,NaN,NaN
45,1981-02-18,0.486607,0.491071,0.486607,0.486607,0.385558,4810400,NaN,NaN
46,1981-02-19,0.459821,0.459821,0.457589,0.457589,0.362566,5577600,NaN,NaN
47,1981-02-20,0.435268,0.435268,0.433036,0.433036,0.343111,6092800,NaN,NaN
48,1981-02-23,0.439732,0.441964,0.439732,0.439732,0.348417,3528000,NaN,NaN
49,1981-02-24,0.428571,0.428571,0.424107,0.424107,0.336037,4244800,0.530312,NaN

Add previous day closing price

In [22]:
for df in dfs:
  df['Previous day close price'] = df.Close.shift(1)

In [23]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ma50,ma100,Previous day close price
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054

Add daily changes in prices

In [31]:
for df in dfs:
  df['Change in price'] = df['Close']- df['Previous day close price']

In [32]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ma50,ma100,Previous day close price,Change in price,Percent change in price
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986

Add percent change in prices

In [29]:
for df in dfs:
  df['Percent change in price'] = df.Close.pct_change()

In [30]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ma50,ma100,Previous day close price,Change in price,Percent change in price
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986

Add previous day volume snd daily change in volume

In [40]:
for df in dfs:
    df['Previous day volume'] = df.Volume.shift(1)

    df['Change in volume'] = df['Volume'] - df['Previous day volume']

    df['Percent change in volume'] = df.Volume.pct_change()

In [41]:
apple.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ma50,ma100,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298

Add dataframes to csv files

In [45]:
apple.to_csv(path+'/apple.csv')
microsoft.to_csv(path+'/microsoft.csv')
nvidia.to_csv(path+'/nvidia.csv')
amazon.to_csv(path+'/amazon.csv')
tsmc.to_csv(path+'/tsmc.csv')
nuro.to_csv(path+'/nuro.csv')
tsla.to_csv(path+'/tesla.csv')